{$HOSTNAME} {
	header {
		X-Robots-Tag "noindex, nofollow"
	}

	route /.well-known/stoat {
		uri strip_prefix /.well-known/stoat
		header {
			Access-Control-Allow-Origin *
		}
		file_server {
			root /stoat.json
		}
	}

	route /oauth* {
		reverse_proxy http://sso:8090
	}

	route /sso* {
		reverse_proxy http://sso:8090
	}

	route /login* {
		redir /sso 302
	}

	route /register* {
		redir /sso 302
	}

	@native_signup {
		path /api/auth/account/create
	}
	route @native_signup {
		header Content-Type application/json
		respond `{"type":"Forbidden"}` 403
	}

	@needs_sso {
		not path /oauth* /sso* /api* /ws* /autumn* /january* /gifbox* /livekit* /ingress* /.well-known*
		not header Cookie *muchat_in=*
	}
	route @needs_sso {
		redir /sso 302
	}

	route /api* {
		uri strip_prefix /api
		reverse_proxy http://api:14702 {
			header_down Location "^/" "/api/"
		}
	}

	route /ws {
		uri strip_prefix /ws
		reverse_proxy http://events:14703 {
			header_down Location "^/" "/ws/"
		}
	}

	route /autumn* {
		uri strip_prefix /autumn
		reverse_proxy http://autumn:14704 {
			header_down Location "^/" "/autumn/"
		}
	}

	route /january* {
		uri strip_prefix /january
		reverse_proxy http://january:14705 {
			header_down Location "^/" "/january/"
		}
	}

	route /gifbox* {
		uri strip_prefix /gifbox
		reverse_proxy http://gifbox:14706 {
			header_down Location "^/" "/gifbox/"
		}
	}

	route /livekit* {
		uri strip_prefix /livekit
		reverse_proxy http://livekit:7880 {
			header_down Location "^/" "/livekit/"
		}
	}

	route /ingress* {
		uri strip_prefix /ingress
		reverse_proxy http://voice-ingress:8500 {
			header_down Location "^/" "/ingress/"
		}
	}

	reverse_proxy http://web:5000
}
